		#roundBorder {
		    border-radius: 25px;
		    border: 2px solid #FF1493;
		    padding: 20px;
		    max-width: 500px;
		}

		#header_wrapper{
			background: #373737;
			padding-bottom: 50px;
		}

		#header_wrapper .inner{
			padding: 50px, 10px, 30px, 10px;

		}

		#my_title{
			color: #fff;
			font-size: 42px;

		}

		#my_name{
			font-size: 24px;


		}


		.tab { margin-left: 40px; 
		}

		body{

			margin: 0 auto;
		}

		.inner{
			position: relative;
			max-width: 640px;
			padding: 20px 10px;
			margin: 0 auto;
		}

		.bar:hover {
		  fill: green;
		}

		rect.bordered {
			stroke: #E6E6E6;
			stroke-width:2px;
		}

		text.mono{
			font-size: 9pt;
			font-family: Consolas, courier;
			fill: #aaa;
		}

		text.axis-workweek{
			fill: #000;
		}

		.arc text {
		  font: 10px sans-serif;
		  text-anchor: middle;
		}

		.arc path {
		  stroke: #fff;
		}

		.legend rect {
		 fill:white;
		 stroke:black;
		 opacity:0.8; }

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.bar {
		  fill: orange;
		}

		.bar2:hover {
		  fill: orangered ;
		}

		.x.axis path {
		  display: none;
		}

		.d3-tip {
		  line-height: 1;
		  font-weight: bold;
		  padding: 12px;
		  background: rgba(0, 0, 0, 0.8);
		  color: #fff;
		  border-radius: 2px;
		}

		/* Creates a small triangle extender for the tooltip */
		.d3-tip:after {
		  box-sizing: border-box;
		  display: inline;
		  font-size: 10px;
		  width: 100%;
		  line-height: 1;
		  color: rgba(0, 0, 0, 0.8);
		  content: "\25BC";
		  position: absolute;
		  text-align: center;
		}

		/* Style northward tooltips differently */
		.d3-tip.n:after {
		  margin: -1px 0 0 0;
		  top: 100%;
		  left: 0;
		}

		/* Map Hover Effect */
		path:hover {
		  fill: rgba(8, 81, 156, 0.2);
		  cursor:pointer;
		}

		/* Dual barchart style*/
		.y.axisRight text {
		    fill: orange;
		}
		.y.axisLeft text {
		    fill: steelblue;
		}

		.bar1 {
		  fill: steelblue;
		}

		.bar2 {
		  fill: orange;
		}

		.y.AxisRight2 text {
		    fill: #dc3912;
		}

		.bar3 {
  		fill: #dc3912;
		}

		.bar4 {
		fill: #a05d56;
		}

		/* Side barChart Style */
        .chart {
            margin: 5px;
            padding-top: 10px;
        }

        .chart .right {
            stroke: white;
            fill: indianred;
        }

        .chart .left {
            stroke: white;
            fill: steelblue;
        }

        .chart rect:hover {
            fill: #64707d;
        }

        .chart text {
            fill: #24da82;
        }

        .chart text.name {
            fill: black;
        }

        .chart text.title {
            fill: #2216ff;
        }

        /* Coefficient Chart Style */
        .bar--positive {
  			fill: steelblue;
		}

		.bar--negative {
  			fill: darkorange;
		}

		sub { 
    		vertical-align: sub;
    		font-size: smaller;
		}

		sup { 
    		vertical-align: super;
    		font-size: smaller;
		}
		
		a:link { 
			color:#000000;
			font-size: 19px; 
			display:block;
			text-align:center;
		}

		a:visited {
			color:#000000;

		}







